In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:

df = pd.read_csv('train.csv')

In [12]:
new_df = df.sample(30000)

In [13]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [14]:
ques_df = new_df [['question1','question2']]
ques_df.head()

,question1,question2
187129,How will Indian GDP be affected from banning 5...,How is banning 500 and 1000 INR going to help ...
360954,How does the birth of a baby affect your horos...,Why do some babies not cry just after birth an...
296880,What are some examples of traditional economies?,What is a traditional economy? What are exampl...
255925,What should I do to increase my chest size?,How can I improve my chest size?
60242,Why won't my washing machine drain?,What should I do if my washing machine won't d...

In [15]:
from sklearn.feature_extraction.text import CountVectorizer 

questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [16]:
temp_df1 = pd.DataFrame(q1_arr, index=ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index=ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [17]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
187129,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
360954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
296880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255925,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60242,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [19]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
187129,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
360954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
296880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
255925,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
60242,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(temp_df.iloc[:,0:-1].values, temp_df.iloc[:,-1].values, test_size=0.2, random_state=42 )

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test, y_pred )

0.7343333333333333

In [25]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test, y_pred)

0.721